.containing-activities{
  counter-reset: actitemcount;
}
.activity-item{
  @include clearfix();
  position: relative;
  overflow: hidden;
  background-color: $gray-dark;
  color:$white;
  padding:10px;
  border-radius: 15px;
  margin:1.5em 0.5em;
  counter-increment: actitemcount;
  &:before{
    position: absolute;
    z-index: 0; 
    content: counter(actitemcount)'.';
    right:20px;
    bottom:0;
    display: block;
    text-align: right;
    font-size: 20em;
    line-height: 1em;
    font-weight: 700;
    font-style: italic;
    color:rgba($gray,0.25);
  }


  @include breakpoint($s2){
    margin:2em auto;
  }
  
  .activity-thumb {
    text-align: center;
    position:relative;
    z-index:2;
    @include breakpoint($s2){
      float:left;
    }
    a {
      display:block;
    }
    img{
      border-radius: 15px;
      max-width: 320px;
    }
  }
  .activity-details{
    @include breakpoint($s2){
      position: relative;
      z-index: 1;
      padding-left: 330px;

    }
  }
  .activity-title{
    font-size: 2em;
    line-height: 1em;
    font-weight:800;
    font-style: italic;
    text-transform: none;
    font-variant: small-caps;
    margin:0.25em 0 0.25em 0;
    text-align: center;
    @include breakpoint($s2){
      text-align: left;
      margin-top:0;
    }
    small {
      display: block;
      font-weight: 700;
      font-style: normal;
      font-variant: normal;
      font-size: 50%;
      line-height: 1em;
    }

    a{
      color:$white;
      &:hover, &:focus {
        text-decoration: none;
        color:$green;
      }
    }
  }

  .tag-list{
    text-align: center;
    @include breakpoint($s2){
      text-align: left;
    }
  }
  .activity-desc {
    margin:0.75em 0 1em 0;
    p{
      position: relative;
      margin:0;
    }
    a{
      @include text-hide();
      position: absolute;
      top:0;right:0;bottom:0;left:0;
    }
  }
  .activity-footer{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 0em;
    .btn{
      display: block;
    }
    @include breakpoint($s2){
      padding-left: 330px;
      text-align: left;
      margin-bottom:0;
      .btn{
        display: inline-block;
      }
    }

  }
}

.activity-list {
  @include clearfix();
  //background-color: $brown;
  //max-width: $s5;
  //word-break: break-all;
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin:0 auto;
  padding:0 0 0 0;
  @include breakpoint($s1){
    padding:0 0 0 0;
  }
  @include breakpoint($s2){
    //padding:1em 0.5em 1em 1em;
  }
  @include breakpoint($s3){
     //padding:2em 1em 1em 2em;
  }
  @include breakpoint($s4){
     //padding:2em 1em 1em 2em;
  }
  &:after{
    content:"";
    display:inline-block;
    height:0;
    width:100%;
  }
}
.activity-mini {
  font: normal 16px/24px $sans-serif;
  display:inline-block;
  //overflow:hidden;
  background-color: $gray-dark;
  padding:10px;
  margin:4% 2%;
  border-radius:20px; 
  position:relative;
  margin-bottom:1px;
  transition: background-color .4s linear;
  &.nightlife{
    background-color:$blue;
  }
  &.transfer{
    background-color:$purple;
  }
  &.daytime-activities{
    background-color:$cyan;
  }

  &:hover, &:focus {
    text-decoration: none;
    //overflow: show;
    background-color: $gray;
    .activity-desc {
      //opacity:1;
    }
    .activity-thumb {
      
    }
  }


  @include breakpoint($s1){
    width:46%;
  }
  @include breakpoint($s3){
    width:28.875%;
  }
  @include breakpoint($s4){
    width:20.875%;
  }
  @include breakpoint($s5){
    width:16%;
  }
  // @include breakpoint($s5){
  //   width:calc(16.66666666% - 1px);
  // }
  // @include breakpoint($s5){
  //   width:calc(14.2857143% - 1px);
  // }
  
  .activity-desc{
    padding:10px 10px 0 10px;
  }
  .activity-thumb{
    img {
      border-top-left-radius:15px; 
      border-top-right-radius:15px;
    }
  }

}

.activity-title{
  margin:0;
  color:$white;
  text-align: left;
  font-size: 1.5em;
  line-height: 1em;
  font-weight:800;
  font-style:italic;
  margin:0;
  text-transform: none;
  font-variant: small-caps;
  small {
    display: block;
    font-weight: 700;
    font-variant: normal;
    font-style:normal;
    text-transform:lowercase;
    font-size: 66.666%;
    line-height:1em;
  }
}



/******* Single Product Page *******/
.single-activity .main{


  article.activity {
    @include clearfix();
    max-width:$s3;
    margin:3em auto;
    padding:0.5em;
    //background-color:$gray-superlight;
    //background-color:rgba($gray-superlight,0.75);
    @include breakpoint($s3){
      //padding:0;
    }
  }
}


.containing-packages {
  @include clearfix();
  max-width:$s3;
  margin:3em auto;
  padding:0.5em;
}


.activity-figure {
}

.activity-head {
  margin-bottom:16em;
}


.activity-content {
  color:$gray;
  font-size: 1.25em;
  line-height: 1.4em;
  font-weight:800;
  margin-bottom: 1em;
  background-color: rgba(#fff,0.9);
  padding:1em;
  border-radius:20px;
  @include breakpoint($s2){
    width:66.666%;
    float:left;
  }
  p{
        
  }
  .activity-gtk{
    font-weight: 400;
    h2{

    }
  }
}

.activity-addfavour{
  text-align: center;
  font-size: 1.25em;
  line-height: 1.125em;
  padding:1em;
  @include breakpoint($s2){
    width:33.333%;
    float:left;
  }
}


.activity-footer{
  @include clearfix();
}

.action-block {
  .btn {
    width:100%;
  }
}


.activity-more {
  font-size: 0.875em;


  .show-more {
    display: inline-block;
    line-height: 1em;
    padding:0.25em 0.25em 0.125em;
    text-align: center;
    color:#fff;
    background-color: $gray;
    //margin-bottom: 0.5em;
    margin-top:0.5em;
    &:hover, &:focus {
      text-decoration: none;
      background-color:$gray-light;
    }
    i {
      //float:right;
      display: none;
    }
  }
  .morepanel{
   
  }
}

.gombsor{

  a {
    font-size: 16px;
    //width:33.3333333%;
    display: inline-block;
    padding:1em;
    text-align:center;
    color:$gray;
    &:hover, &:focus {
      text-decoration: none;
      color:$gray-dark;
    }
    &.call-phone {
      //font-feature-settings: "lnum", "tnum";
    }

    i{
      font-size: 2.25em;
    }
    span{
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.75em;
    } 
  }
}

/*********** Containing packages section *********/
.pack-lead{
  @include clearfix();
  max-width: $s3;
  margin:0 auto;
  padding:1em;


  h2{
    font-size:2em;
    line-height: 1.125em;
    @include breakpoint($s3){
      width:30%;
      float:left;
    }
  }
  p{
    font-size: 1.25em;
    line-height: 1.4em;
    font-weight: 400;
    font-style: italic;
    margin:0;
    @include breakpoint($s3){
      width:70%;
      float:left;
      padding: 3.5em 0 0 1em;
    }
  }
}

/*********** Related an Similar acitvites section *********/
.related-activities {
  @include clearfix();
  margin:2em auto;
  max-width: $s5;
  padding:1em;

  h3{
    //text-align: center;
  }

}
