/*============= color definition =================*/




$orange:#FF9900;

$white:#f3f3f3;



$blue:#4d77ff;
$blue-silver:#5a6583;
$blue-dark:#3f4e76;


$cyan:#2ab0e1;
$purple:#5b0188;
$red:#f23b55;
$pink:#d3206c;
$green:#008A96;
$brown:#756156;


$gray-superlight:#e6e6e6;
$gray-light:#cacaca;
$gray:#696565;
$gray-dark:#414040;



//$sc-sans:'Alegreya Sans SC', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$script:'Pacifico', cursive;
$sans-serif:'Alegreya Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Times New Roman', serif;

/****************** breakpoints definition ***********/

$s0:320px;
$s1:480px;
$s2:768px;
$s3:1024px;
$s4:1280px;
$s5:1600px;

$maximum:1140px;

$experimental-support-for-svg: true;








