.contact-row {
  @include clearfix();
  background-color: $orange;
  color:$brown;
  height:0;
  overflow:hidden;
  transition: height .4s;
  &.open{
    //height:auto;
  }

}

.contact-inner {
  @include clearfix();
  margin:1em auto;
  padding:1em;
  max-width: $s2;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ctitle{
  margin:0.125em 0 0 ;
  font-size: 3em;
  line-height: 1em;
  color:$gray-dark;
  text-align: center;
  font-style: italic;
  .details-wrap & {
    color:$white;
  }

}
.csubtitle{
  margin:0.125em 0 0 ;
  font-size: 2em;
  line-height: 1em;
  color:#fff;
  text-align: center;
  span{
    color:$red;
  }


}
.leftfields{
  @include breakpoint($s2){
    float:left;
    width:calc(50% - 1em);
  }
}
.rightfields{
  @include breakpoint($s2){
    float:left;
    width:calc(50% - 1em);
    margin-left: 2em;
  }
}
.brokielso{
  @include clearfix();
}

.broki{
  @include clearfix();
  background-color: $green;
  border: 10px solid $gray;
  padding:1.5em 0.5em 2em 0.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius:20px;

}
.broki-helper{
  //font-size: 1.5em;
  padding:0 1em 0 1em ;
  text-align: center;
  a{
    color:$cyan;
  }
}


  hr{
    border-width:2px;
    border-right-width: 0;
    border-left-width: 0;
    border-top-color: $gray-light;
    border-bottom-color: $gray-superlight;
    border-bottom-width:1px;

    //height:5px;
    border-radius: 2px;
    //background-color: $gray;
    margin:1em 25%;
  }

.items{
  @include clearfix();
  margin:1em 0;
  label{
    display: block;
    font-size: 1.25em;
    line-height: 1em;
    padding:0.125em 0 0.25em 0.25em;
    font-weight: 900;
    font-variant: small-caps;
    font-style: italic;
    //text-align: right;
    min-width: 6em;
    margin-right: 1em;
    //text-transform: uppercase;
    display: block;
    color:$gray;
  
  }

}
input[type="text"], input[type="email"], input[type="tel"], input[type="date"], textarea{
  border: 1px solid #fff;
  font-size: 1.5em;
  border-radius: 4px;
  background-color: $white;
  color:$gray-dark;
  line-height: 1.25em;
  padding:0.25em;

  width: 16em;
  max-width: 100%;
  outline-color: $cyan;
  //outline: 0 solid #fff;
  &:focus {
    background-color: #fff;
    
  }
  &:hover {
    border:1px solid $cyan;
  }
}
input[type="date"] {
  padding:0.125em 0.25em;
}

.submitbtn {
  //float:right;
  //display:block;
}



.actions {
  @include clearfix();
  clear:both;
  text-align: center;
  font-size: 1.5em;

  //width: 20em;
  //max-width: 100%;

  @include breakpoint($s2) {
    //float:left;
    margin:0 auto;
    width:calc(50% - 0.666em);
  }
  
  .btn {
    margin-top:0.5em;
    width:100%;
    //display:block;
  }
}

.oki {
  float:left;
  padding-top: 0.5em;
  font-size: 0.75em;
}