.contact-row {
  @include clearfix();
  background-color: $yellow;
  color:$brown;
  height:0;
  overflow:hidden;
  transition: height .4s;
  &.open{
    //height:auto;
  }

}

.contact-inner {
  @include clearfix();
  margin:1em auto;
  padding:1em;
  max-width: $s2;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ctitle{
  margin-top:0;
  font-size: 3em;
  line-height: 1em;
  font-weight: 700;
  text-transform: uppercase;
  color:$soldier;
}
.controls{
  margin:1em 0;
  label{
    font-size: 1.5em;
    line-height: 1.25em;
    min-width: 6em;
    margin-right: 1em;
    text-transform: uppercase;
    display: inline-block;
    color:$soldier;
  
  }

}
input[type="text"], input[type="email"], textarea{
  border: 1px solid $gray-light;
  font-size: 1.5em;
  color:$soldier;
  line-height: 1.25em;
  padding:0.25em;
  background-color: rgba(#fff,0.5);
  width: 20em;
  max-width: 100%;
  //outline-color: #fff;
  outline: 0 solid #fff;
  &:hover, &:focus {
    border:1px solid $blue;
    outline-color: $orange;

  }

}

.submitbtn {
  //float:right;
  //display:block;
}



.actions {
  @include clearfix();
  text-align: right;
  font-size: 1.5em;
  width: 20em;
  max-width: 100%;
  @include breakpoint($s2) {
    width: 27em;
  }
}

.oki {
  float:left;
  padding-top: 3em;
  font-size: 0.75em;
}