.content-info {
  @include clearfix();
  clear:both;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    // width:174px;
    // height:289px;
    width:120px;
    height:200px;
    top:42%;
    left:calc(50% - 87px);

    background-image: url(../img/logo_pajzs.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
  }
  
 a{
  color:$green;
  &:hover, &:focus{
      color:$red;
      text-decoration: none;
  }
 }
}

.side-inner {
  @include clearfix();
  max-width: $s4;
  margin:0 auto;

}

.footer-sidebar {
  @include clearfix();
  //max-width: $s5;
  margin: auto;
  padding:2em 0;
  font-size: 1em;
  line-height: 1.25em;
  font-weight: 300;
  color:$white;
  border-top:10px solid $brown;
  background-color: $gray-dark;
  background-image: url('../img/footer_bg.png');
  background-size: 90% auto;
  background-position: center bottom;
  background-repeat: no-repeat; 
  @include breakpoint($s3){
    //padding:2em 0;
    
  }

  .widget{
    @include clearfix();
    padding:1em 1em;
    @include breakpoint($s1){
      padding:2em 1em;
      width:33.333%;
      float:left;
    }
    @include breakpoint($s2){
      padding:2em 2em 2em 2em;
      width:22.222%;
      float:left;
    }
    @include breakpoint($s3){
      padding:3em 3em 3em 3em;
    }
    h3 {
      margin:1em 0 1.5em;
      font-size: 1.333em;
      line-height: 1em;
      font-weight: 700;
      text-transform: uppercase;
      font-variant:normal;


      @include breakpoint($s1){
        margin-top:0;  
      }
    }
    p{
      margin-top: 0;
    }
  }

  .widget {
    ul {
      margin:0;
      padding:0;
      li {
        list-style: none;
        margin:0;
        padding:0.5em 0;
        a {
          font-weight:700;

        }
      }
    }
  }
  
}

.footer-social {
  @include clearfix();
  //max-width: $s5;
  margin: auto;
  padding:2em 0;
  background-color: #000;
  color:$white;
  
  .widget {
    @include clearfix();
    padding:1em 1em;
    @include breakpoint($s1){
      padding:2em 1em;
       width:50%;
      float:left;
    }
    @include breakpoint($s2){
      padding:2em 2em 2em 2em;
     
    }
    @include breakpoint($s3){
      padding:3em 3em 3em 3em;
    }
    

    h3{
      margin:1em 0 1.5em;
      font-size: 1.333em;
      line-height: 1em;
      font-weight: 700;
      text-transform: uppercase;
      font-variant:normal; 
    }
  }
}


.gombsor{

  a {
    font-size: 16px;
    //width:33.3333333%;
    display: inline-block;
    padding:1em;
    text-align:center;
    color:$green;
    &:hover, &:focus {
      text-decoration: none;
      color:$red;
      i {
        border-color:$red;
      }
    }
    &.call-phone {
      //font-feature-settings: "lnum", "tnum";
    }

    i{
      text-align: center;
      font-size: 2em;
      line-height: 1.666;
      border:2px solid $green;
      width:1.75em;
      height:1.75em;
      display: inline-block;
      border-radius: 50%;
    }
    span{
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.875em;
    } 
  }
}

.widget-mc {
  label{
    display:block;
    font-weight:900;
    font-style: italic;
    font-size: 1.25em;
    line-height: 1;
    color:$gray-light;
    margin-bottom: 0.25em;

  }
  #mc-embedded-subscribe{
    margin-top:0.5em;
  }
}

.footer-copy{
  font-size: 1em;
  line-height: 1.25em;
  font-weight: 500;
  padding:1.25em;
  position: relative;
  background-color:#000;
  color:$white;
  @include breakpoint($s3){
    padding:1.25em 3em;
  }
}