.slidegallery {
  //overflow:hidden;
  width:100%;
  position: relative;
  > ul {
    margin:0;padding:0;
    white-space: nowrap; 
    transition: margin .2s ease;
    position: relative;
    //margin-left: 10%;
    > li {
      margin:0;
      padding:0;
      list-style-type: none;
      display: inline-block;
    }
  }

  .slide-item {
    position: relative;
    transition: filter .2s ease;
    -webkit-transition: -webkit-filter .2s ease;
    -moz-transition: -moz-filter .2s ease;
    -ms-transition: -ms-filter .2s ease;
    max-width: 100%;

    .js &{
      filter: brightness(0.125) blur(3px);
    }
    &.active {
      filter: brightness(1) blur(0);

    }
    
    img {
      max-height:100%;
      width: auto;
      max-width: none;
    }
    
    .caption {
      white-space: wrap;
      position: absolute;
      padding:00.25em;
      display: inline-block;
      bottom:2em;
      left:2em;
      padding:0.25em 0.25em 0.125em;
      background-color: rgba($gray-dark,0.75);
      color:#fff;
      font-size: 0.75em;
      line-height: 1em;
      font-weight: 400;
      font-style: italic;
      text-align: center;
    }


  }
  .slidecontroll{
    position: absolute;
    left:0;right:0;
    top:calc(50% - 2em);
    a{
      font-size: 3em;
      line-height: 0.25em;
      display: block;
      background-color: rgba($gray-dark,0.75);
      padding:0 0.5em;
      text-align: center;
      color:$white;
      //text-shadow: 0 0 5px #000;
      &:hover, &:focus{
        color:#fff;
        background-color: rgba($orange,0.75);
      }

      &.prev{
        float:left;
      }
      &.next{
        float:right;
      }
    }
  }
}