.banner {
  @include clearfix();
  position: relative;
  overflow: hidden;
  padding:0;
  min-height: 100%;
  background-color: $gray-dark;
  background-image: url(../img/hero_girls.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  //
  //filter:brightness(0.5); 

  @include breakpoint($s2) {
    background-image: url(../img/hero_girls.jpg);
    background-size: cover;
    background-attachment: scroll;

    min-height:0;
    margin:0 auto;
  }
  @include breakpoint($s3) {
  
  }
  &.active {
    
  }

}



.brand{
  @include text-hide();

  //background-color: gray;
  // width:348px;
  // height:179px;
  width:382px;
  height:161px;
  margin:0 auto 72px;
  background-image:url('../img/logo.png');
  background-repeat:no-repeat;
  background-position: left center;
  background-size: 100% auto;
  display:none;
  @include breakpoint($s2) {
    display:block;
  }

  &:hover, &:focus {
    
  }
}


.mobile-header {
  @include clearfix();
  position: relative;
  background-color: $gray-dark;
  background-image: url(../img/hero_girls.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  @include breakpoint($s2){
    display: none;
  }
}
.mobile-logo{
  @include text-hide();
  display:block;
  margin:5px auto;
  width:116px;
  height:42px;
  background-color: transparent;
  background-image:url('../img/logo.png');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 100% auto;
  &:hover, &:focus {
    opacity: 0.85;
  }
}

.toprow{
  @include clearfix();
  //background-color: #000;
  //background-color: rgba(#000,0.75);
  //border-bottom: 1px solid #000;
  //background-color: #fff;
  //color: $gray-dark;
  color:#fff;
  font-size: 0.875em;
  padding:0.333em 1.25em;

  @include breakpoint($s2){
  }

  .left-top{
    @include breakpoint($s2){
      float:left;
      width:540px;
    }
  }
  
  a {
    color:$cyan;
  }
}

.topenq.btn{

  font-size: 0.875em;
  color:#fff;
  @include breakpoint($s2){
    float:right;
  }
  
}

.cart {
  margin-right:1em;
  display:inline-block;
  @include breakpoint($s2){
    float:right;
  }
}

.minihero {
  @include clearfix();
  background-color:transparent;
  //background-image: url('../img/bphero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
  width:100%;

  .single-activity & {
    margin-bottom:-3.2em;
  }
}


.minihero-content {
  @include clearfix();
  position: relative;
  text-align: left;
  margin:0 auto;
  padding:1em 0.5em;
  max-width:$s3;

  .single-activity & {
    padding-bottom:9em;
  }
  @include breakpoint($s2){
    padding:4em 0.5em 1em;
  }
  @include breakpoint($s3){

  }
  @include breakpoint($s4){

  }

  .btn {
    font-size: 1.5em;
    line-height: 1.125em;
    display:block;
    margin-bottom:2em;
    @include breakpoint($s1){
      display:inline-block
    }
  }
  .tag-list {
    @include breakpoint($s2){
      width:66.666%;
      float:left;
    }
  }
}
.minihero-title{
  font-size: 2em;
  line-height: 1.125em;
  font-weight: 900;
  font-style:italic;
  text-transform: none;
  font-variant: small-caps;
  color:$cyan;
  text-shadow: 1px 1px 3px $white;
  margin:0 0 0.5em;
  
  @include breakpoint($s1){
    font-size: 3em;
    line-height: 1.125em;
  }
  @include breakpoint($s2){
    font-size: 4em;
    line-height: 1em;
    width:66.666%;
    float:left;
  }


  small{
    display: block;
    text-transform: none;
    font-weight: 800;
    font-variant: normal;
    font-size: 66.666%;
    line-height:1;
    color:$gray;
  }
}


.minihero .actblock{
  margin:1em 0;
  text-align: center;
  z-index:1;
  position: relative;
  @include breakpoint($s2){
    width:33.333%;
    position:absolute;
    top:4em;
    right:0;

  }
}

.minihero-lead{
  margin:2em 0;
  padding:1em;
  background-color: rgba(#fff,0.9);
  border-radius: 20px;
  
  p{
    font-size:1.25em;
    line-height: 1.4em;
    //font-weight: 800;
    color:$gray-dark;
     
  }
  @include breakpoint($s2){
    width:66.666%;
    float:left;
  }
}