.mobile-header {
  @include clearfix();
  position: relative;
  background-color: $gray-dark;
  background-image: url(../img/csajos_hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  @include breakpoint($s2){
    display: none;
  }
}
.mobile-logo{
  @include text-hide();
  display:block;
  margin:5px auto;
  width:100px;
  height:42px;
  background-color: transparent;
  background-image:url('../img/logo.png');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 100% auto;
  &:hover, &:focus {
    opacity: 0.85;
  }
}

.toprow{
  @include clearfix();
  background-color: #000;
  background-color: rgba(#000,0.75);
  border-bottom: 1px solid #000;
  //background-color: #fff;
  //color: $gray-dark;
  color:#fff;
  font-size: 0.875em;
  padding:0.333em 1.25em;

  @include breakpoint($s2){
  }

  .left-top{
    @include breakpoint($s2){
      float:left;
    }
  }
  
  a {
    color:$red
  }
}

.topenq.btn{

  font-size: 0.875em;
  color:#fff;
  @include breakpoint($s2){
    float:right;
  }
  
}

.minihero {
  @include clearfix();
  background-color:transparent;
  //background-image: url('../img/bphero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
  width:100%;

  .single-activity & {
    margin-bottom:-3.2em;
  }
}


.minihero-content {
  @include clearfix();
  position: relative;
  text-align: left;
  max-width: $s5;
  margin:0 auto;
  padding:1em 1em;
  max-width:$s3;

  .single-activity & {
    padding-bottom:9em;
  }
  @include breakpoint($s2){
    padding:6em 1em 1em;
  }
  @include breakpoint($s3){

  }
  @include breakpoint($s4){

  }

  .btn {
    font-size: 2em;
    line-height: 1.125em;
  }
  .tag-list {
    @include breakpoint($s2){
      width:66.666%;
      float:left;
    }
  }
}
.minihero-title{
  font-size: 2em;
  line-height: 1.125em;
  font-weight: 900;
  font-style:italic;
  text-transform: none;
  font-variant: small-caps;
  color:$gray;
  text-shadow: 1px 1px 3px #fff;
  margin:0;
  
  @include breakpoint($s1){
    font-size: 3em;
    line-height: 1.125em;
  }
  @include breakpoint($s2){
    font-size: 4em;
    line-height: 1em;
    width:66.666%;
    float:left;
  }


  small{
    display: block;
    text-transform: none;
    font-weight: 800;
    font-variant: normal;
    font-size: 66.666%; 
  }
}


.minihero .actblock{
  margin:1em 0;
  text-align: center;
  @include breakpoint($s2){
    width:33.333%;
    float:right;

  }
}

.minihero-lead{
  margin:2em 0;
  p{
    font-size:1.5em;
    line-height: 1.4em;
    font-weight: 800;
    color:$gray;
    display: inline;
    background-color: $white;
    background-color: rgba($white,0.5);
     
  }
  @include breakpoint($s2){
    width:66%;
    float:left;
  }
}