.home-banner {
  //@include clearfix();
  max-width: $s3;
  margin:1em auto 120px;
  color:$white;
  font-size: 2em;
  line-height: 1;
  padding:1em 1em 1em 1em; 
  text-align: center;

  position: absolute;
  top: 50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%);
  width:100%;
  
  .banner-divider {
    margin:0 auto 1em auto;
    width:50%;
    max-width: $s2;
    border-width: 4px;
    border-right-width: 0;
    border-left-width: 0;
    border-top-color: #fff;
    border-bottom-color: $white;
    border-bottom-width: 0px;
    border-radius: 2px;
  }

  .banner-title{
    font-size:4em;
    line-height: 0.75;
    text-align: center;
    //font-variant: normal;
    //text-transform: uppercase;
    margin:0;

  }
  .banner-text{
    font-weight: 400;
  }

  .home-btn{
    margin-top: 2em;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border:1px solid #fff;
    color:#fff;
    &:hover, &:focus{
      color:$red;
      border-color: $red;
    }
  }
  
  .home-discl{
    margin-top: 0.5em;
    font-size: 0.75em;
    font-style: italic;

    a{
      color:$red;
    }
  }
}
.hero {
  @include clearfix();
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;

  width:100%;
  min-height: 250px;
  @include breakpoint($s3){
    min-height: 500px; 
    &.feles {
      min-height: 0px;
    }

  }
}


.hero-content {
  @include clearfix();
  position: relative;
  text-align: left;
  max-width: $s5;
  margin:0 auto;
  padding:1em 1em 4em;
  max-width:$s3;
  @include breakpoint($s2){
    padding:4em 1em 6em;
  }
  @include breakpoint($s3){

  }
  @include breakpoint($s4){

  }

  .btn {
    font-size: 1.5em;
    line-height: 1.125em;
  }


  .tag-list {
    @include breakpoint($s2){
      width:66.666%;
      float:left;
      clear:left;
    }
  }
}
.hero-text{
  font-size: 2em;
  line-height: 1.125em;
  font-weight: 900;
  font-style:italic;
  text-transform: none;
  font-variant: small-caps;
  color:$cyan;
  text-shadow: 1px 1px 3px #fff;
  margin:0 0 0.5em;
  
  @include breakpoint($s1){
    font-size: 3em;
    line-height: 1.125em;
  }
  @include breakpoint($s2){
    font-size: 4em;
    line-height: 1em;
    width:66%;
    float:left;
  }


  small{
    display: block;
    text-transform: none;
    font-weight: 800;
    font-variant: normal;
    font-size: 66.666%;
    line-height: 1;
    color:$gray; 
  }
}
.topwidget {
  background-color: $white;
  background-color: rgba($white,0.5);
  border:1px solid $gray-light;
  border-radius: 15px;
  padding:1em;
  @include breakpoint($s2){
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    width:33.333%;
  } 
  h3 {
    font-size: 1.5em;
    line-height: 1.125em;
    //font-weight: 700;
    color:$cyan;
    margin:0 0 0;
    font-variant: normal;
  }
  p{
    font-size: 1.25em;
    line-height: 1.4em;
    font-style: italic;
    margin:0.25em 0 0.5em;
  }
  .btn{
    display: block;
  }
}
.topill{
  @include breakpoint($s2){
    position:absolute;
    z-index:0;
    right:0;
    top:4em;
    width:33.333%;
    padding-left:1em;
    
  }
  img {
    border:10px solid $gray;
    border-radius:20px;
    @include breakpoint($s2){
    }

  }

}


.hww{
  @include clearfix();
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% auto;
  background-attachment: scroll;
  background-image: url('../img/heroes.jpg');
  font-size: 1.25em;
  line-height: 1.4;
  padding:2em 0.75em 33% 0.75em;
  @include breakpoint($s3){
    padding:2em 0.75em 33% 0.75em;
    background-size: cover;
  }

  h3{
    font-size: 1.75em;
    line-height: 1;
    margin:1.5em 0 0;
    color:$cyan;
    strong{
      font-weight: 900;
      color:$gray-light;
    }
  }
  a {
    color:$cyan;
  }
  .btn {
    color:$white;
  }
  hr{
    margin:4em 0;
  }

  .tab-pane{
    
    @include breakpoint($s3){
      min-height: 38em;
    }
    h3:first-child {
      margin-top:1em;
    }
    ol{
      counter-reset: linkcount;
      padding:0 0 0 0;
    }
    li {
      position: relative;
      padding:0.25em 0 0.25em 1.75em;
      margin:0.25em 0;
      list-style-type:none;
      counter-increment: linkcount;

      &:before{
        position: absolute;
        left:0.25em;
        content: counter(linkcount) '.';
        margin-right: 0.25em;
        font-size: 1.25em;
        line-height: 1em;
        font-weight: 900;
        color: $gray;
        font-variant: normal;
        font-style: italic;
      }
    }
    ul {
      padding:0 0 0 0;
      li {
        &:before{
          content:'+';
        }

      }
    }
  }
}
.homediscl{
  font-size: 1.5em;
  line-height: 1;
  font-weight: 300;
  color:$gray;
  font-variant: normal;
  text-transform: uppercase;
  margin-bottom: 2em;
  strong{
    font-variant: small-caps;
    text-transform: none;
    font-weight: 900;
    color:$cyan;
    //display: block;
    font-size: 133%;
  }

}
.home-tabs.nav-tabs {
font-size:0.75em;
 padding:0;
 li{
  margin-left:0;
  margin-right: 0.75em;
  margin-bottom: 0.75em;
  >a {
    padding:0.25em 0.5em;

  } 
 } 
}

.hww-inner{
  max-width: $s3;
  margin:0 auto;
 
  padding:0 1em;
  @include breakpoint($s1){
     padding-left: 22%;
  }
  @include breakpoint($s3){
     padding-left: 29%;
  }

}