.hero {
  @include clearfix();
  background-color:#fff;
  //background-image: url('../img/bphero.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;

  width:100%;
  min-height: 250px;
  @include breakpoint($s3){
    min-height: 500px; 
    &.feles {
      min-height: 0px;
    }

  }
}
.hero-content {
  @include clearfix();
  position: relative;
  text-align: left;
  max-width: $s5;
  margin:0 auto;
  padding:1em 1em 4em;
  max-width:$s3;
  @include breakpoint($s2){
    padding:6em 1em 8em;
  }
  @include breakpoint($s3){

  }
  @include breakpoint($s4){

  }

  .btn {
    font-size: 1.5em;
    line-height: 1.125em;
  }


  .tag-list {
    @include breakpoint($s2){
      width:66.666%;
      float:left;
      clear:left;
    }
  }
}
.hero-text{
  font-size: 2em;
  line-height: 1.125em;
  font-weight: 900;
  font-style:italic;
  text-transform: none;
  font-variant: small-caps;
  color:$gray;
  text-shadow: 1px 1px 3px #fff;
  margin:0;
  
  @include breakpoint($s1){
    font-size: 3em;
    line-height: 1.125em;
  }
  @include breakpoint($s2){
    font-size: 4em;
    line-height: 1em;
    width:66%;
    float:left;
  }


  small{
    display: block;
    text-transform: none;
    font-weight: 800;
    font-variant: normal;
    font-size: 66.666%; 
  }
}
.topwidget {
  background-color: $gray-light;
  background-color: rgba($gray-light,0.75);
  padding:1em;
  @include breakpoint($s2){
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    width:33.333%;
  } 
  h3 {
    font-size: 1.5em;
    line-height: 1.125em;
    //font-weight: 700;
    color:$cyan;
    margin:0 0 0;
    font-variant: normal;
  }
  p{
    font-size: 1.25em;
    line-height: 1.4em;
    font-style: italic;
    margin:0.25em 0 0.5em;
  }
}
.topill{
  @include breakpoint($s2){
    position:absolute;
    
    right:0;
    top:50%;
    transform:translateY(-50%);
    width:33.333%;
  }
  img {
    @include breakpoint($s2){
      transform:rotate(30deg);
    }

  }

}
