.banner {
  @include clearfix();
  position: relative;
  overflow: hidden;
  padding:0;
  min-height: 100%;
  background-color: $gray-dark;
  @include breakpoint($s2) {
    background-color: $white;
    background-image: url(../img/csajos_hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height:250px;
    margin:0 auto;
  }
  @include breakpoint($s3) {
  }
  &.active {

  }

}



.brand{
  @include text-hide();
  display:block;
  //background-color: gray;
  width:286px;
  max-width: calc(100% - 75px);
  height:108px;
  margin:100px auto 140px;
  background-image:url('../img/logo_pink.png');
  background-repeat:no-repeat;
  background-position: left center;
  background-size: 100% auto;
  display:none;
  @include breakpoint($s2) {
    display:block;
  }

  &:hover, &:focus {
    
  }
}

.brandi{
  @include text-hide();
  display:block;
  width:260px;
  height:26px;
  //float:left;
  background-image:url('../img/logo.png');
  background-repeat:no-repeat;
  background-position: left center;
  background-size: 100% auto;
  margin-top:10px;
  margin-left:60px;
  //margin-right: 1em;

  &:hover, &:focus {
    opacity: 0.85;
  }
}

.nav-main{
  @include clearfix();
  font-size: 1.25em;
  line-height: 2.5em;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  font-family: $sans-serif;
  background-color: $gray-dark;
  background-image: linear-gradient(to bottom, $gray 0, $gray 50%, $gray-dark 50%);
  @include breakpoint($s2) {
    position: absolute;
    left:0; right:0;
    bottom:0;
  }
}




.nav-main .nav{
  margin:0 auto;
  padding:0;
  list-style:none;
  max-width: $s3;
  @include breakpoint($s2) {
  }


  li{
    padding:0 0;
    margin:0 0;
    @include breakpoint($s2) {
      display:inline-block;
      &:first-child {
      padding-left:0;
      }
      &:last-child {
        padding-right:0;
      }
    }
    
  }

  a {
    color:$white;
    display: block;
    padding:0 1em;
    @include breakpoint($s2) {
      display: inline-block;
    }
    &:hover, &:focus {
      color:#fff;
      background-color: $gray;
      text-decoration: none;
      @include breakpoint($s2) {
        color:#fff;
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
  .active a {
    color:$cyan;
  }

  li.telcsi{
    a {
      //display: inline-block;
      font-family: "Ionicons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &:before {
        content: "\f2d2";
      }
    }
  }
}




/* Off Canvas Navigation */
.off-canvas-navigation {
  width: 100%;
  overflow: hidden;
  display: block;
  color: $gray-dark;
  .brand {
    margin-left:75px;
  }
}

.menu-button{
  width:50px;height:50px;
  font-size:25px;
  line-height:50px;
  text-align: center;
  float:left;
  display: block;
  background: $white;
  background: rgba($white,.3);
  color: $gray-dark;
}
.menu-button.active-button {
}
a.menu-button:hover {
  text-decoration: none;  
  background: $gray-dark,;
  color: #fff;
}

/* Site Menu */
.banner,
.mindenmas {
  transition: .2s all ease;     
  width: 100%;
}


.js .banner { 
  margin-left: -100%;
  float: left;
}
.js .mindenmas {
  margin-left: 0;
  float: left;
}


.active-nav .banner { 
  margin-left: 0; 
  width: 80%;
}
.active-nav .mindenmas{
  margin-right: -100%;
}


@media all and (min-width: $s2) { 
  .off-canvas-navigation {
    display:none;
  }
  .js .banner {
    width: 100%; 
    margin-left: auto;
    float: none;
  }

  .js .mindenmas {
    width: 100%;
    float:none;    
  }
}




/********* Subnavigation **********/
.nav-sub + .main{
  @include breakpoint($s2){
    float:left;
    width: calc(100% - 290px);
  }
  @include breakpoint($s3){
    width: calc(100% - 580px);
  }
}
.nav-sub{
  @include clearfix();
  text-transform: uppercase;
  font-weight: 300;
  font-family: $sans-serif;
  padding:1em;
  @include breakpoint($s2){
    float:left;
    width:270px;
    margin-right:20px;
  }
  @include breakpoint($s3){
    padding:1em 1em 1em 2em;
  }

  .subnav-title{
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1em;
    margin:1em 0;
    color:$gray-light;
  }

  h3{
    color:$gray;
    text-transform: none;
    font-variant:small-caps;
    font-weight: 400;
    font-size: 1em;
    margin:2em 0 1em;
  }
}




.nav-sub .nav{
  margin:0 0 3em;
  padding:0;
  list-style:none;


  li{
    margin:0;
  }

  a {
    color:$gray;
    display: inline-block;
    padding:0.25em 0;
    font-size:0.875em;
    line-height:1.125em;
    &:hover, &:focus {
      color:$gray-light;
      text-decoration: none;
    }
  }
  .active a {
    color:$blue;
  }
}


.post-nav{
  clear:both;
  @include clearfix();
  text-align:center;
  ul {
    margin:0;
    padding:0;
  }
  li {
    list-style-type: none;
    display: inline;
    a {
      display: inline-block;
      max-width: 50%;
      background-color: $gray-superlight;
      color:$blue;
      border:1px solid $gray-light;
      padding:0.333em 1em;
      &:hover, &:focus {
        background-color: $gray-light;
        border:1px solid $gray;
        color:#fff;
        text-decoration: none;
      }

      &.previous {
        
      }
      &.next {

      }

    }
  }
}

.post-pn {

  clear:both;
  position:relative;
  z-index: 1;
  @include clearfix();
  padding:1em 1em 2em;
  text-align:center;
  font-size: 0.875em;
  line-height: 1em;
  font-weight: 400;
  @include breakpoint($s2){
    position: absolute;
    bottom:0;
    left:0;right:0;
  }
  &:before {
    content:'';
    position: absolute;
    display: block;
    top:0;
    height:2px;
    left:2.5em;
    right:2.5em;
    //width:60%;
    border-top:1px solid $gray;
  }

  ul {
    margin:0;
    padding:0;
  }
  li {
    list-style-type: none;
    margin:0.5em auto;
    //display: inline;
    a {
      background-color: transparent;
      display: block;
      color:$gray-light !important;
      //max-width: 160px;
      &:hover, &:focus {
        color:$orange !important;
        text-decoration: none;
      }
      i{
        font-size: 1.5em;

      }
    }
  }
}


.activity-pn {

  clear:both;
  position:relative;
  z-index: 0;
  @include clearfix();
  padding:0.5em 0.5em;
  text-align:center;
  font-size: 0.875em;
  line-height: 1em;
  font-weight: 400;
  @include breakpoint($s2){
    position: absolute;
    top:42%;
    left:0;right:0;
  }

  ul {
    margin:0;
    padding:0;
  }
  li {
    list-style-type: none;
    margin:0.5em auto;
    &:first-child{
      float:left;
    }
    &:last-child{
      float:right;
    }
    //display: inline;
    a {
      //background-color: rgba($orange,0.75);
      display: block;
      color:#fff;
      text-shadow: 0 0 5px $gray-dark;
      //max-width: 160px;
      &:hover, &:focus {
        color:$gray-dark;
        text-decoration: none;
      }
      i{
        font-size: 8em;

      }
    }
  }
}
