.nav-main{
  @include clearfix();
  font-size: 1.125em;
  line-height: 3em;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  font-family: $sans-serif;
  border-bottom: 1px solid $gray-superlight;

  @include breakpoint($s2) {
    background-color: $white;
    position: absolute;
    left:0; right:0;
    //top:34px;
    bottom:0;
  }
  &.fixed{
    @include breakpoint($s2) {
      position: fixed;
      left:0;right:0;
      top:0;
      height:3.5em;
      line-height: 3.5em;
      z-index:3;
      background-color: #fff;
        
      .logo-navbar{
        display: block;
      }
      .nav {
        text-align: right;
        //margin-right: 2em;
      }
    }
  }

  .page-template-tmpl-home-php &{
    @include breakpoint($s2) {
      bottom:0;
      height:3.5em;
      line-height: 3.5em;
      z-index:3;
      //background-color: $gray-superlight;

        
      .logo-navbar{
        display: block;
      }
      .nav {
        text-align: right;
        //margin-right: 2em;
      }
    }
    &.fixed{
      background-color: #fff;
    }
  
  }

  .logo-navbar{
    background-image: url('../img/logo_navbar.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 72%;
    display: inline-block;
    //float:left;
    width:180px;
    height:3.5em;
    //margin:0 2em 0 2em;
    //margin-left: calc(100% - 1024px + 2em);
    position: absolute;
    left:1.5em;
    // top:0;
    display: none;
  }
}




.nav-main .nav{
  margin:0 auto;
  padding:0;
  list-style:none;
  //max-width: $s3;
  @include breakpoint($s2) {
    text-align: center;
  }


  li{
    padding:0 0;
    margin:0 0;
    @include breakpoint($s2) {
      display:inline-block;
      &:first-child {
      padding-left:0;
      }
      &:last-child {
        padding-right:0;
      }
    }
    
  }

  a {
    color:$white;
    color:$gray-dark;
    display: block;
    padding:0 1.25em;
    @include breakpoint($s2) {
      display: inline-block;
    }
    &:hover, &:focus {
      color:#fff;
      background-color: $gray;
      background-color: rgba($gray,0.75);
      text-decoration: none;
      @include breakpoint($s2) {
        color:#fff;
        background-color: $gray-dark;
      }
    }
  }
  .active a, .current-activity-ancestor a, .current-package-ancestor a  {
    color:#fff;
    background-color: $cyan;
  }

  li.telcsi{
    a {
      //display: inline-block;
      font-family: "Ionicons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &:before {
        content: "\f2d2";
      }
    }
  }
}




/* Off Canvas Navigation */
.off-canvas-navigation { 
  overflow: hidden;
  display: block;
  color: $gray-dark;
  position: absolute;
  left:0;text-outline: 5px;
}

.menu-button{
  width:50px;height:50px;
  font-size:25px;
  line-height:50px;
  text-align: center;
  float:left;
  display: block;
  color: $gray-light;
}
.menu-button.active-button {
}
a.menu-button:hover {
  text-decoration: none;  
  color: #fff;
}


/* Site Menu */
.banner, .mindenmas{
  transition: .2s all ease;     
  width: 100%;
}
.mindenmas {



  background-size: cover, cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center bottom;
  //background-image: linear-gradient(to top, rgba($white,0.33) 0, rgba($white,0.66) 10%, rgba($white,1) 22%), url(../img/bp_hatter_old.jpg);

  .single-package &{
    background-position: 100% bottom;
    background-repeat: no-repeat;
    background-size: auto 72%;
    background-attachment: fixed;
  }
}


.js .banner { 
  margin-left: -100%;
  float: left;
}
.js .mindenmas {
  margin-left: 0;
  float: left;
}


.active-nav .banner { 
  margin-left: 0; 
  width: 80%;
}
.active-nav .mindenmas{
  margin-right: -100%;
}


@media all and (min-width: $s2) {
           
    
  .off-canvas-navigation {
    display:none;
  }
  .js .banner {
    width: 100%; 
    margin-left: auto;
    float: none;
  }

  .js .mindenmas {
    width: 100%;
    float:none;    
  }
}




/********* Subnavigation **********/
.nav-sub + .main{
  @include breakpoint($s2){
    float:left;
    width: calc(100% - 290px);
  }
  @include breakpoint($s3){
    width: calc(100% - 580px);
  }
}
.nav-sub{
  @include clearfix();
  text-transform: uppercase;
  font-weight: 300;
  font-family: $sans-serif;
  padding:1em;
  @include breakpoint($s2){
    float:left;
    width:270px;
    margin-right:20px;
  }
  @include breakpoint($s3){
    padding:1em 1em 1em 2em;
  }

  .subnav-title{
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1em;
    margin:1em 0;
    color:$gray-light;
  }

  h3{
    color:$gray;
    text-transform: none;
    font-variant:small-caps;
    font-weight: 400;
    font-size: 1em;
    margin:2em 0 1em;
  }
}




.nav-sub .nav{
  margin:0 0 3em;
  padding:0;
  list-style:none;


  li{
    margin:0;
  }

  a {
    color:$gray;
    display: inline-block;
    padding:0.25em 0;
    font-size:0.875em;
    line-height:1.125em;
    &:hover, &:focus {
      color:$gray-light;
      text-decoration: none;
    }
  }
  .active a {
    color:$blue;
  }
}


.post-nav{
  clear:both;
  @include clearfix();
  text-align:center;
  ul {
    margin:0;
    padding:0;
  }
  li {
    list-style-type: none;
    display: inline;
    a {
      display: inline-block;
      max-width: 50%;
      background-color: $gray-superlight;
      color:$blue;
      border:1px solid $gray-light;
      padding:0.333em 1em;
      &:hover, &:focus {
        background-color: $gray-light;
        border:1px solid $gray;
        color:#fff;
        text-decoration: none;
      }

      &.previous {
        
      }
      &.next {

      }

    }
  }
}

.post-pn {

  clear:both;
  position:relative;
  z-index: 1;
  @include clearfix();
  padding:1em 1em 2em;
  text-align:center;
  font-size: 0.875em;
  line-height: 1em;
  font-weight: 400;
  @include breakpoint($s2){
    position: absolute;
    bottom:0;
    left:0;right:0;
  }
  &:before {
    content:'';
    position: absolute;
    display: block;
    top:0;
    height:2px;
    left:2.5em;
    right:2.5em;
    //width:60%;
    border-top:1px solid $gray;
  }

  ul {
    margin:0;
    padding:0;
  }
  li {
    list-style-type: none;
    margin:0.5em auto;
    //display: inline;
    a {
      background-color: transparent;
      display: block;
      color:$gray-light !important;
      //max-width: 160px;
      &:hover, &:focus {
        color:$orange !important;
        text-decoration: none;
      }
      i{
        font-size: 1.5em;

      }
    }
  }
}


.activity-pn {

  clear:both;
  position:relative;
  z-index: 0;
  @include clearfix();
  padding:0.5em 0.5em;
  text-align:center;
  font-size: 0.875em;
  line-height: 1em;
  font-weight: 400;
  @include breakpoint($s2){
    position: absolute;
    top:42%;
    left:0;right:0;
  }

  ul {
    margin:0;
    padding:0;
  }
  li {
    list-style-type: none;
    margin:0.5em auto;
    &:first-child{
      float:left;
    }
    &:last-child{
      float:right;
    }
    //display: inline;
    a {
      //background-color: rgba($orange,0.75);
      display: block;
      color:#fff;
      text-shadow: 0 0 5px $gray-dark;
      //max-width: 160px;
      &:hover, &:focus {
        color:$gray-dark;
        text-decoration: none;
      }
      i{
        font-size: 8em;

      }
    }
  }
}
