.single-package {
  article.package{
    @include clearfix();
    background-color:transparent;
    background-position: 100% top;
    background-repeat: no-repeat;
    background-size: cover;
    //background-image:url('../img/paintball.jpg');
    .inner{
      @include clearfix();
      max-width: $s3;
      padding:1em;
      margin:0 auto;
    }
  }
  .containing-activities{
    @include clearfix();
    //background-color: $gray-light;
    padding:1em 0 4em;
    h2 {
      text-align:center;
      font-size:3em;
      line-height:1em;
    }

    
    .inner{
      @include clearfix();
      max-width: $s3;
      margin:0 auto;
    }
  }
  .package-content{

  }

  .package-links{
    @include clearfix();
    background-color: $white;
    background-color: rgba($white,0.75);
    padding:1em;
    max-width:$s2;

    h3{
      font-size: 2em;
      line-height: 1em;
      margin:0; 
    }

    ul{
      @include clearfix();
      margin:1em 0 1em 0;
      padding:0 0;
      counter-reset: actlinkcount;
      @include breakpoint($s2){
        float:left;
        width:66.666%
      }
      li{
        position: relative;

        padding:0 0;
        margin:0.125em 0;
        list-style-type:none;
        counter-increment: actlinkcount;
        font-size: 1.25em;
        line-height: 1.4em;
        font-weight: 800;
        font-style: italic;
        font-variant: small-caps;
        
        @include breakpoint($s1){
          width:50%;
          float:left;
          &:nth-child(2n+1){
            clear:left;
          }
        }

        &:before{
          content: counter(actlinkcount)'.';
          margin-right: 0.25em;
          font-size: 1.25em;
          line-height: 0.875em;
          font-weight: 900;
          color:$gray;
          font-variant: normal;
          font-style: italic;
        }
        a{
          color:$red;
          &:hover,&:focus{
            color:$cyan;
          }
        }
      }  
    }  
  }
}



.package-list {
  @include clearfix();
  max-width: $s3;
  margin:2em auto 2em auto;
  padding:0em 0 0 0;


  @include breakpoint($s1){
    //padding:0 0 0 0;
  }
  @include breakpoint($s2){
    padding:3em 0;
  }
  @include breakpoint($s3){
     //padding:2em 1em 1em 2em;
  }
  @include breakpoint($s4){
     //padding:2em 1em 1em 2em;
  }
}



.package-item{
  @include clearfix();
  position: relative;
  text-align: left;
  width:100%;
  //max-width: $s3;
  margin:2em auto 2em auto;

  &:hover, &:focus {
  }

  .coverphoto{
    display: block;
    position:absolute;
    //z-index:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    background-position: right bottom;
    background-size: 50% auto;
    background-repeat: no-repeat;
    @include breakpoint($s2){
      top:-5em;
      background-size: auto 100%;
    }
  }
  .package-thumb {
    text-align: center;
    padding:0 1em;
    margin:0 0 1em 0;
    @include breakpoint($s2){
      float:left;
      width:40%;
      //position: relative;
      margin-top: -4.5em;
      margin-bottom: 0;
      //transform:translateY(-4em) rotateX(15);
    }

    a {
      display: inline-block;
      background-color: #fff;
      border-radius:20px;
      padding:10px;
      &:hover, &:focus {
        background-color:$gray-light;
      }
    }   
    img {
      border-radius:15px; 
    }
    
    

  }
  .package-head{
    background-color: $gray-dark;
    @include breakpoint($s2){
    }

  }


  .package-title{
    position: relative;
    padding:0;
    margin:0;
    text-align: left;
    font-size: 2em;
    line-height: 1em;
    font-weight:800;
    font-style: italic;
    text-transform: none;
    font-variant: small-caps;
    small {
      display: block;
      font-weight: 700;
      font-style: normal;
      font-variant: normal;
      font-size: 50%;
      line-height: 1em;
    }
    a{
      color:$white;
      display: block;
      padding:0.5em;
      &:hover, &:focus {
        color:$cyan;
        text-decoration: none;
      }
    }
  }

  .allother {
    @include clearfix();
    background-color: #fff;
    padding:1em;
    @include breakpoint($s2){
      padding-right: 40%
    }

  }

  .package-desc{
    font-size: 1.25em;
    line-height: 1.4em;
    position: relative;
    p{
      margin:0;
    }
  }
  .package-footer{
    position: relative;
    margin-top:1em;
    @include breakpoint($s2){
    }
  }




  .package-tags{
    position: relative;
  }
  .package-detbtn{
    //float:right;
  }


}



