.single-package {
  article.package{
    @include clearfix();
    background-color: $gray-superlight;
    .inner{
      @include clearfix();
      max-width: $s3;
      margin:0 auto;
    }
  }
  .containing-activities{
    @include clearfix();
    background-color: $gray-light;
    .inner{
      @include clearfix();
      max-width: $s3;
      margin:0 auto;
    }
  }
  .package-content{

  }

  .package-lead{
    font-size:2em;
    line-height: 1.4em;
    font-weight: 700;
    color:$pink;
  }

}



.package-list {
  @include clearfix();
  max-width: $s3;
  margin:4em auto 2em auto;
  padding:0 0 0 0;


  @include breakpoint($s1){
    padding:0 0 0 0;
  }
  @include breakpoint($s2){
    //padding:1em 0.5em 1em 1em;
  }
  @include breakpoint($s3){
     //padding:2em 1em 1em 2em;
  }
  @include breakpoint($s4){
     //padding:2em 1em 1em 2em;
  }
}



.package-item{
  @include clearfix();
  text-align: left;
  width:100%;
  //max-width: $s3;
  margin:0 auto 2em auto;

  &:hover, &:focus {
  }
  .package-thumb {
    text-align: center;
    padding:0 1em;
    a {
      display: inline-block;
      background-color: #fff;
      border-radius:20px;
      padding:10px;
      &:hover, &:focus {
        background-color:$gray-light;
      }
    }   
    img {
      border-radius:15px; 
    }
    
    @include breakpoint($s2){
      float:left;
      width:40%;
      //position: relative;
      margin-top: -4.5em;
      //transform:translateY(-4em) rotateX(15);
    }

  }
  .package-head{
    background-color: $gray-dark;
    @include breakpoint($s2){
      padding-left: 40%;

    }

  }


  .package-title{
    padding:0;
    margin:0;
    text-align: left;
    font-size: 2em;
    line-height: 1em;
    font-weight:800;
    font-style: italic;
    text-transform: none;
    font-variant: small-caps;
    small {
      display: block;
      font-weight: 700;
      font-style: normal;
      font-variant: normal;
      font-size: 50%;
      line-height: 1em;
    }
    a{
      color:$white;
      display: block;
      padding:0.5em;
      &:hover, &:focus {
        color:$cyan;
        text-decoration: none;
      }
    }
  }

  .allother {
    @include clearfix();
    background-color: #fff;
    padding:1em;
  }

  .package-desc{
    font-size: 1.25em;
    line-height: 1.4em;
    p{
      margin:0;
    }
  }
  .package-footer{
    margin-top:1em;
    @include breakpoint($s2){
    }
  }




  .package-tags{
    
  }
  .package-detbtn{
    float:right;
  }


}



