// Tabbable tabs
// -------------------------

.nav-tabs {
  text-transform: uppercase;
  font-weight: 800;
  font-style:italic;
  color:$gray;
  counter-reset: aco;
  max-width: $s3;
  margin:0 auto;
  padding:0 0.5em;
  position: relative;

  li {
   counter-increment: aco;
   list-style: none;
   display: inline-block;
   margin:0 0.25em;
   padding: 0 0;
   > a {
    text-transform: uppercase;
    color:$gray-dark;
    display: inline-block;
    background-color: $gray-light;
    padding:0.75em 1.5em;
    border-top-left-radius:4px; 
    border-top-right-radius:4px;
    &:hover, &:focus {
      color:#000;
      text-decoration: none;
    }
    
    strong {
      font-weight: 900;
      font-style: italic;

    }
   }
   &.active {
    > a {
      background-color: $gray-superlight;
      color:$pink;
    }
   }
  }
}

.nav-tabs.numbered {
  li {
    > a {
      &:before {
        content: counter(aco)'. ';
        font-size: 2em;
        font-style: normal;
        font-weight: 900;
      }
    }
  }
}
.nav-tabs.light {
  li {
    > a {
      background-color: $gray-superlight;
      color:$gray;
      &:hover, &:focus {
        color:$gray-dark;
        text-decoration: none;
      }
    }

    &.active {
      > a {
        background-color: $white;
        color:$pink;
      }
    }  
  }
}
.nav-tabs.glass {
  li {
    > a {
      //background-color: $gray-superlight;
      //color:$gray;
      border-bottom-left-radius:4px; 
      border-bottom-right-radius:4px;
      &:hover, &:focus {
        //color:$gray-dark;
        text-decoration: none;
      }
    }

    &.active {
      > a {
        //background-color: $white;
        //color:$pink;
      }
    }  
  }
}

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  background-color: $gray-superlight;
  //background-color: rgba($gray-superlight,0.75);
  
  max-width:$s4;
  margin:0 auto;
  &.light{
    background-color: $white;
  }
  &.glass{
    background-color: transparent;
  }
  > .tab-pane {
    @include clearfix();
    display: none;
  }
  > .active {
    display: block;
  }
}


